# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
.cache

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vs/map/FileContentIndex/431d477e-c672-4998-8340-6bee85a546bf.vsidx
/.vs/map/FileContentIndex/8a632ff5-0f6a-40ca-a21d-4d4370d5bc34.vsidx
/.vs/map/FileContentIndex/caf7a67f-e59f-4165-b8dd-21e0b02f529f.vsidx
/.vs/map/FileContentIndex/d0d1ae0b-9c47-4b5a-ac5f-4e227b4379eb.vsidx
/.vs/map/FileContentIndex/74f08f85-6f80-4586-b2e8-c0efb8c1feb9.vsidx
/.vs/map/FileContentIndex/73ec911c-6e66-4713-9b5b-c93963fd3e16.vsidx
